<p><%= t('devise.mailer.reset_password_instructions.hello', email: @resource.email) %>!</p>

<p><%= t('devise.mailer.reset_password_instructions.request_link') %>:</p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.ignore_email') %></p>
<p><%= t('devise.mailer.reset_password_instructions.no_password_change') %></p>
